* {
  box-sizing: border-box;
}

.app {
  
}

.scroll-container {
  overflow-y: scroll;
  max-height: 300px; /* even divide-able by li height */
}

.scroll {
  background: skyblue;
  margin: 0;
  padding: 0;
  pointer-events: none;
  overflow: hidden;
}

.scroll li {
  height: 50px;
  outline: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background: lightblue;
}
