*,:before,:after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 1rem 1rem 0;
}

.app {
  max-width: 800px;
  margin: 0 auto;
}

.scroll__overflow {
  overflow-y: scroll;
  max-height: 300px; /* even divide-able by li height */
}

.scroll__list {
  background: linear-gradient(0deg, hotpink, lightblue);
  margin: 0;
  padding: 0;
  pointer-events: none;
  overflow: hidden;
}

.scroll__list > li {
  height: 50px;  
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}

.scroll__list > li > * {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 0%;
  border-bottom: 1px solid #777;
}
