* {
  box-sizing: border-box;
}

.app {
  max-width: 800px;
  margin: 0 auto;
}

.scroll__overflow {
  overflow-y: scroll;
  max-height: 300px; /* even divide-able by li height */
}

.scroll__list {
  background: skyblue;
  margin: 0;
  padding: 0;
  pointer-events: none;
  overflow: hidden;
}

.scroll__list > li {
  height: 50px;
  outline: 1px solid;
  margin: 0;
  padding: 0;
  background: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
}
